:root {
    --primary-font: "Fira Sans", sans-serif;

    --primary-clr: 249, 70%, 62%;
    --dark-clr: 0, 0%, 20%;
    --white-clr: 180, 100%, 97%;

    --main-padding: 30px;
    --btn-padding: 10px 20px;
    --btn-margin: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    color: inherit;
}

html {
    font-size: 18px;
}

body,
.form-section,
.welcome-section,
#sign-up-form,
.form-row,
.form-container,
.welcome-container {
    display: flex;
}

.welcome-container,
.welcome-section,
.form-section,
.form-row {
    flex-direction: column;
}

.welcome-section,
.form-section,
.form-container {
    justify-content: center;
}

body {
    font-family: var(--primary-font);
    height: 100vh;
    background-image: url(img/joel-filipe-VuwAfoHpxgs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome-section {
    background-color: hsl(var(--primary-clr), .4);
    flex: 1;
    width: 100%; 
    transition: width 0.5s ease;
}

.form-section {
    background-color: hsl(var(--primary-clr), .4);
    color: hsl(var(--dark-clr));
    width: 0; 
    transition: width 0.5s ease; 
    overflow: hidden; 
    opacity: 0;
}

.welcome-container {
    background-color: hsl(var(--dark-clr), .7);
    padding: var(--main-padding);
    color: hsl(var(--white-clr));
    align-items: center;
    height: 330px;
    transition: 0.7s;
}

.welcome-message {
    margin-top: 40px;
    transition:ease-in 2s;
    opacity: 0;
    text-align: center;
}

.form-container {
    background-color: hsl(var(--white-clr), .9);
    padding: var(--main-padding);
    max-height: 300px;
}

button {
    width: fit-content;
    padding: var(--btn-padding);
    background-color: hsl(var(--primary-clr));
    border: 0;
    border-radius: 10px;
    color: hsl(var(--white-clr));
    font-weight: 800;
    font-size: 1.3rem;
    transition: 1s;
}

button:hover {
    color: hsl(var(--primary-clr));
    background-color: hsl(var(--white-clr));
    transition: 1s;
}

#sign-up-form {
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}

.form-row {
    flex-basis: calc(50% - 20px);
    opacity: 0;
    transition: ease-in 1.5s;
}

.form-row input {
    font-size: 1rem;
    padding: 5px 10px;
}

.sign-up-footer {
    margin: var(--btn-margin);
}

.sign-up-footer span {
    color: hsl(var(--primary-clr));
    font-weight: 700;
}

/* Hide arrows/spiners from Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.image-credits {
    position: absolute;
    bottom: 0;
    padding: var(--btn-padding);
    color: hsl(var(--dark-clr), .7);
    font-size: 0.8rem;
    transition: ease-in 2s;
}