@font-face {
    font-family: fantasy-font;
    src: url(font/Ferrum-wy99.otf);
}

:root {
    --primary-font: "Fira Sans", sans-serif;

    --primary-clr: 249, 70%, 62%;
    --dark-clr: 0, 0%, 20%;
    --white-clr: 180, 100%, 97%;

    --main-padding: 30px;
    --btn-padding: 10px 20px;
    --btn-margin: 20px;

    --transition-fast: 0.5s ease;
    --transition-medium: 1s ease;
    --transition-slow: 2s ease-in;

    --shadow: 0 4px 8px hsla(0, 0%, 0%, 0.25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    color: inherit;
}

html {
    font-size: 18px;
}

body,
.form-section,
.welcome-section,
#sign-up-form,
.form-row,
.form-container,
.welcome-container {
    display: flex;
}

.welcome-container,
.welcome-section,
.form-section,
.form-row {
    flex-direction: column;
}

.welcome-section,
.form-section,
.form-container {
    justify-content: center;
}

body {
    font-family: var(--primary-font);
    height: 100vh;
    background-image: url(img/joel-filipe-VuwAfoHpxgs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-family: fantasy-font;
    font-size: 2rem;
}

.welcome-section {
    background-color: hsl(var(--primary-clr), .4);
    flex: 1;
    width: 100%; 
    transition: var(--transition-fast);
}

.form-section {
    background-color: hsl(var(--primary-clr), .4);
    color: hsl(var(--dark-clr));
    width: 0; 
    transition: var(--transition-fast);
    overflow: hidden; 
    opacity: 0;
}

.welcome-container {
    background-color: hsl(var(--dark-clr), .7);
    color: hsl(var(--white-clr));
    align-items: center;
    height: 330px;
    transition: var(--transition-medium);
    padding-top: 20px;
}

.ges-flag {
    width: 120px;
    height: auto;
    transition: var(--transition-medium);
}

.welcome-message {
    transition: var(--transition-slow);
    opacity: 0;
    text-align: center;
    background-color: hsl(var(--dark-clr), .3);
    width: 100%;
    padding: 10px;
    box-shadow: var(--shadow);
    z-index: 1;
}

.form-container {
    background-color: hsl(var(--white-clr), .7);
    padding: var(--main-padding);
    max-height: 300px;
}

button {
    width: fit-content;
    padding: var(--btn-padding);
    background-color: hsl(var(--primary-clr));
    border: 0;
    border-radius: 10px;
    color: hsl(var(--white-clr));
    font-weight: 800;
    font-size: 1.3rem;
    transition: var(--transition-medium);
}

.welcome-container > button {
    box-shadow: var(--shadow);
    z-index: 1;
}

button:hover {
    color: hsl(var(--primary-clr));
    background-color: hsl(var(--white-clr));
    transition: var(--transition-medium);
    cursor: pointer;
}

#sign-up-form {
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}

.form-row {
    flex-basis: calc(50% - 20px);
    opacity: 0;
    transition: var(--transition-slow);
}

.form-row input {
    font-size: 1rem;
    padding: 5px 10px;
}

.sign-up-footer {
    margin: var(--btn-margin);
}

.sign-up-footer span {
    color: hsl(var(--primary-clr));
    font-weight: 700;
}

.sign-up-footer span:hover {
    cursor: pointer;
}

/* Hide arrows/spiners from Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.image-credits {
    position: absolute;
    bottom: 0;
    padding: var(--btn-padding);
    color: hsl(var(--dark-clr), .7);
    font-size: 0.8rem;
    transition: var(--transition-slow);
}

input {
    border: 2px solid transparent;
    border-radius: 10px;
}

input:focus {
    transition: var(--transition-medium);
    border: 2px solid hsl(var(--primary-clr));
    background-color: hsl(var(--primary-clr), .1);
    outline: none;
}

.password-match {
    color: red;
    height: 20px;
}