:root {
    --primary-font: "Fira Sans", sans-serif;
    --font-color: 0, 0%, 20%;

    --primary-bg-clr: 191, 48%, 25%;
    --secondary-bg-clr: 180, 100%, 97%;

    --main-padding: 30px;
    --btn-padding: 10px 20px;
    --btn-margin: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body,
.form-section,
.welcome-section,
#sign-up-form,
.form-row {
    display: flex;
}

body {
    font-family: var(--primary-font);
    color: hsl(var(--font-color));
    height: 100vh;
}

.hide-form-section {
    display: none;
}

.welcome-section {
    background-color: hsl(var(--primary-bg-clr), .4);
    flex: 1;
    padding: var(--main-padding);
    align-items: center;
}

.form-section {
    background-color: hsl(var(--primary-bg-clr), .8);
    flex: 3;
}

.form-container {
    background-color: hsl(var(--secondary-bg-clr));
    padding: var(--main-padding);
    width: 100%;
}

.welcome-section,
.form-section {
    flex-direction: column;
    justify-content: center;
}

button {
    width: fit-content;
    padding: var(--btn-padding);
    margin: var(--btn-margin);
}

#sign-up-form {
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}

.form-row {
    flex-basis: calc(50% - 20px);
    flex-direction: column;
}

.form-row input {
    font-size: 1rem;
    padding: 5px 10px;
}

/* Hide arrows/spiners from Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}