:root {
    --primary-font: "Fira Sans", sans-serif;
    --font-color: 0, 0%, 20%;

    --background-color: 191, 48%, 25%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body,
.form-section,
.welcome-section {
    display: flex;
}

body {
    font-family: var(--primary-font);
    color: hsl(var(--font-color));
    height: 100vh;
}

.hide-form-section {
    display: none;
}

.welcome-section {
    background-color: hsl(var(--background-color), .4);
}

.form-section {
    background-color: hsl(var(--background-color), .8);
}

.welcome-section,
.form-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}